html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #50616b;
    padding-top: 87px;
    font-size: 16px;
    line-height: 165%;
    font-weight: 300;

    /* Margin bottom by footer height */
    margin-bottom: 170px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: #fafafa;
    color: #77868f;
    /*box-shadow: 0 0 5px rgba(0,0,0,0.5); !* Параметры тени *!*/
    /*Open Sans Regular (400) 13 пикс*/
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
}

.footer a {
    color: #77868f;
    text-decoration: underline;
}

.footer a:hover {
    color: #50616b;
}

.footer-social {
    padding-top: 30px;
    vertical-align: top;
}

.footer-social-btn {
    width: 40px;
    height: 41px;
    padding: 0 3px 0px;
}

.footer-text {
    padding-top: 35px;
    padding-left: 20px !important;
    vertical-align: top;
}

.image-logo {
    height: 67px;
    margin: 0;
    padding: 0;
}

.yoga-screen {
    background: url("/img/SVG/bg_main1920.jpg") no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -20px;
    color: white;
}

.yoga-copyright {
    font-size: 11px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainYogaBox {
    display: inline-block;
    margin-top: 30px;
    padding: 15px;
    vertical-align: top;

}

.mainYogaBox p {
    font-weight: 600;
}

.well-yoga {
    min-height: 20px;
    padding: 30px 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: rgba(4, 128, 174, 0.75);*/
    /**/
    background: url("/img/SVG/bg_text_1920.png") no-repeat center bottom;
    /*background-size: 100%, 100%; !* Фон занимает всю доступную площадь *!*/
    background-size: cover; /* Фон занимает всю доступную площадь */

    border: 1px solid transparent;
    border-radius: 20px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);*/
    /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)*/
}

.well-yoga h2 {
    margin: 0;
    padding-bottom: 10px;
}

.well-yoga p {
    margin: 0;
}

.mainString {
    margin-top: 100px;
    padding-left: 15px;
    font-size: 1.2em;
    float: left;
    bottom: 0 !important;
}

.mainImage {
    margin-top: 50px;
    padding-left: 30px;
    padding-right: 10px;
}

.socialBtn {
    margin-left: 1px;
    margin-top: 20px;
    margin-right: 2px;
    width: 28px;
    display: inline-block;
}

.corporateBlue {
    color: #0480ae;
}

.corporateDark {
    color: #50616b;
}

.markedText {
    color: #0480ae;
    font-weight: 600;
}

.fa-btn {
    margin-right: 6px;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.langItem {
    font-size: 1.3em;
    color: #0480ae;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.langItemDelimiter {
    font-size: 1.5em;
    padding-bottom: 10px;
    padding-top: 10px;
}

.langItemActive {
    font-size: 1.3em;
    color: #50616b !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .langItem {
        display: none;
    }

    .navbar-collapse .nav > .langItemDelimiter {
        display: none;
    }

    .navbar-collapse .nav > .langItemActive {
        display: none;
    }
}

.navbar-default .navbar-nav > li > a {
    color: #0480ae;
}

.yogaFriendsButton {
    display: inline-block;
    vertical-align: top;
}

.img-Tea {
    height: 150px;
}

.teaMarker {
    width: 10px;
}

.img-couch {
    height: 150px;
}

.couchMarker {
    width: 10px;
}

.img-walk {
    height: 150px;
}

.walkMarker {
    width: 10px;
}

.menuBtn {
    background: url("/img/SVG/button_login.svg") no-repeat center;
    color: white !important;
    z-index: 10;
}

.btn-yoga {
    background-color: #83CC15;
    color: white;
    font-size: 1.6em;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#map-wrapper {
    position: relative;
}

#map {
    margin-top: -20px;
    width: 100%;
    height: calc(100vh - 87px);
}

.mapButtonLabel {
    padding: 10px;
    display: table-cell;
    vertical-align: middle
}

#over_map {
    position: absolute;
    top: 67px;
    z-index: 99;
    /*background: url("/img/SVG/bg_map.svg") no-repeat center;*/
    /*background: url("/img/SVG/bg_map_shadow_1920.svg") no-repeat center;*/

    background-size: contain;
    width: 100%;
    height: 70px;
}

.mapSearchRowLeft {
    height: 85px;
    background: url("/img/SVG/menu_map/left_circle_98x85.png") no-repeat right, url("/img/SVG/menu_map/outside_part.png") repeat-x;
    background-size: contain, contain;
}

.test {
    height: 85px;
    background: url("/img/SVG/menu_map/outside_part.png") repeat-x;
    background-size: contain, contain;
}

.mapSearchRowCenter {
    height: 85px;
    padding: 15px;
    background: url("/img/SVG/menu_map/central_part_Xx85.png") repeat-x;
    background-size: contain;
}

.mapSearchRowRight {
    height: 85px;

    background: url("/img/SVG/menu_map/right_circle_98x85.png") no-repeat left, url("/img/SVG/menu_map/outside_part.png") repeat-x;
    background-size: contain, contain;
}

.mapSearchIcon {
    max-height: 100%;
}

/*Меняем высоту навбара*/
.navbar-nav > li > a, .navbar-brand {
    /*padding-top:4px !important;*/
    /*padding-bottom:0 !important;*/
    height: 67px;
}

.navbar {
    min-height: 67px !important;
}

.nav {
    font-size: 16px;
}

.navbar {
    background: white !important;
}

.navbar-nav > li > a {
    padding-bottom: 23px;
    padding-top: 23px;
}

.mapMenuRow {
    margin-top: 15px;
}

/*Кнопка чекина*/
.btn-checkInn {
    color: #ffffff;
    background: -moz-linear-gradient(#26a9e0, #1099cc); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#26a9e0), color-stop(#1099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #26a9e0, #1099cc); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #26a9e0, #1099cc); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #26a9e0, #1099cc); /* IE10+ */
    background: url("/img/SVG/png/check-in.png") no-repeat center, linear-gradient(#26a9e0, #1099cc); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26a9e0', endColorstr='#1099cc', GradientType=0); /* IE6-9 */
    border-radius: 50px;
    background-size: contain;
    height: 43px;
    width: 43px;
}

.btn-checkInn:hover,
.btn-checkInn.focus,
.btn-checkInn:active,
.btn-checkInn.active,
.open .dropdown-toggle.btn-checkInn {
    /*background: -moz-linear-gradient(#dbdbdb,#cecece); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(#dbdbdb), color-stop(#cecece)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(top,  #dbdbdb,#cecece); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(top,  #dbdbdb,#cecece); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(top,  #dbdbdb,#cecece); !* IE10+ *!*/
    /*background: linear-gradient(#dbdbdb,#cecece); !* W3C *!*/
    color: #ffffff;
    background: url("/img/SVG/png/check-in.png") no-repeat center, #cecece !important;
    background-size: contain, 100%;
    outline: none !important;
}

.checkInnString {
    color: #1099cc;
    font-weight: 300 !important;
    font-size: 24px;
}

/*Кнопка чая*/
.btn-tea {
    color: #ffffff;
    background: url("/img/SVG/png/tea.png") no-repeat center, -moz-linear-gradient(#f8d616, #e8c400); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#f8d616), color-stop(#e8c400)); /* Chrome,Safari4+ */
    background: url("/img/SVG/png/tea.png") no-repeat center, -webkit-linear-gradient(top, #f8d616, #e8c400); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f8d616, #e8c400); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f8d616, #e8c400); /* IE10+ */
    background: url("/img/SVG/png/tea.png") no-repeat center, linear-gradient(#f8d616, #e8c400); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8d616', endColorstr='#e8c400', GradientType=0); /* IE6-9 */
    border-radius: 50px;
    background-size: contain;
    height: 43px;
    width: 43px;
}

.btn-tea:hover,
.btn-tea.focus,
.btn-tea:active,
.btn-tea.active,
.open .dropdown-toggle.btn-tea {
    /*background: -moz-linear-gradient(#dbdbdb,#cecece); !* FF3.6+ *!*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(#dbdbdb), color-stop(#cecece)); !* Chrome,Safari4+ *!*/
    /*background: -webkit-linear-gradient(top,  #dbdbdb,#cecece); !* Chrome10+,Safari5.1+ *!*/
    /*background: -o-linear-gradient(top,  #dbdbdb,#cecece); !* Opera 11.10+ *!*/
    /*background: -ms-linear-gradient(top,  #dbdbdb,#cecece); !* IE10+ *!*/
    /*background: linear-gradient(#dbdbdb,#cecece); !* W3C *!*/
    color: #ffffff;
    background: url("/img/SVG/png/tea.png") no-repeat center, #cecece !important;
    outline: none !important;
}

.teaString {
    color: #d0a102;
    font-weight: 300;
    font-size: 24px;
}

/*Кнопка ночлега*/
.btn-couch {
    color: #ffffff;
    background: -moz-linear-gradient(#ff9529, #fd7b03); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#ff9529), color-stop(#fd7b03)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff9529, #fd7b03); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff9529, #fd7b03); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff9529, #fd7b03); /* IE10+ */
    background: url("/img/SVG/png/couch.png") no-repeat center, linear-gradient(#ff9529, #fd7b03); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9529', endColorstr='#fd7b03', GradientType=0); /* IE6-9 */
    border-radius: 50px;
    background-size: contain;
    height: 43px;
    width: 65px;
}

.btn-couch:hover,
.btn-couch:focus,
.btn-couch:active,
.btn-couch.active,
.open .dropdown-toggle.btn-couch {
    color: #ffffff;
    background: url("/img/SVG/png/couch.png") no-repeat center, #cecece !important;
    outline: none !important;
}

.couchString {
    color: #e67a00;
    font-weight: 300;
    font-size: 24px;
}

/*Кнопка прогулки*/
.btn-walk {
    color: #ffffff;
    background: -moz-linear-gradient(#87d21a, #7cc10b); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#87d21a), color-stop(#7cc10b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87d21a, #7cc10b); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87d21a, #7cc10b); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87d21a, #7cc10b); /* IE10+ */
    background: url("/img/SVG/png/walk.png") no-repeat center, linear-gradient(#87d21a, #7cc10b); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d21a', endColorstr='#7cc10b', GradientType=0); /* IE6-9 */
    border-radius: 50px;
    background-size: contain;
    height: 43px;
    width: 55px;
}

.btn-walk:hover,
.btn-walk:focus,
.btn-walk:active,
.btn-walk.active,
.open .dropdown-toggle.btn-walk {
    color: #ffffff;
    background: url("/img/SVG/png/walk.png") no-repeat center, #cecece !important;
    outline: none !important;
}

/*Кнопка Все*/
.btn-all {
    color: #ffffff;
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: url("/img/SVG/png/all.png") no-repeat center, linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
    border-radius: 50px;
    background-size: contain;
    height: 43px;
    width: 65px;
}

.btn-all:hover,
.btn-all:focus,
.btn-all:active,
.btn-all.active,
.open .dropdown-toggle.btn-all {
    color: #ffffff;
    background: url("/img/SVG/png/all.png") no-repeat center, #cecece !important;
    outline: none !important;
}

.navbar-btn {
    margin-top: 18px;
}

.btn {
    vertical-align: top;
}

.btn-login {
    color: #ffffff;
    background: -moz-linear-gradient(#87d21a, #7cc10b); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#87d21a), color-stop(#7cc10b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87d21a, #7cc10b); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87d21a, #7cc10b); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87d21a, #7cc10b); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d21a', endColorstr='#7cc10b', GradientType=0); /* IE6-9 */
    border-radius: 50px;
    /*height: 43px;*/
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active,
.open .dropdown-toggle.btn-login {
    color: #ffffff;
    background: no-repeat center, #adbfce !important;
    /*border-color: #130269;*/
}

.btn-yoga-custom {
    color: #ffffff;
    background: -moz-linear-gradient(#87d21a, #7cc10b); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#87d21a), color-stop(#7cc10b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87d21a, #7cc10b); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87d21a, #7cc10b); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87d21a, #7cc10b); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d21a', endColorstr='#7cc10b', GradientType=0); /* IE6-9 */
    border-radius: 50px;
    width: 100%;
    /*height: 43px;*/
}

.btn-yoga-custom:hover,
.btn-yoga-custom:focus,
.btn-yoga-custom:active,
.btn-yoga-custom.active,
.open .dropdown-toggle.btn-yoga-custom {
    color: #ffffff;
    background: no-repeat center, #adbfce !important;
    /*border-color: #130269;*/
}

.btn-yoga-custom.disabled,
.btn-yoga-custom[disabled],
fieldset[disabled] .btn-yoga-custom,
.btn-yoga-custom.disabled:hover,
.btn-yoga-custom[disabled]:hover,
fieldset[disabled] .btn-yoga-custom:hover,
.btn-yoga-custom.disabled:focus,
.btn-yoga-custom[disabled]:focus,
fieldset[disabled] .btn-yoga-custom:focus,
.btn-yoga-custom.disabled:active,
.btn-yoga-custom[disabled]:active,
fieldset[disabled] .btn-yoga-custom:active,
.btn-yoga-custom.disabled.active,
.btn-yoga-custom[disabled].active,
fieldset[disabled] .btn-yoga-custom.active {
    background: no-repeat center, #adbfce !important;
    border-color: #adbfce !important;
}

/*.btn-socials {*/
/*background-color: #4c67a1;*/
/*font-size: 1.2em;*/
/*padding: 5px;*/
/*border-radius: 50px;*/
/*width: 150px;*/
/*color: white;*/
/*margin-left: 15px;*/
/*}*/

.btn-socials {
    color: #ffffff;
    background-color: #4c67a1;
    border-radius: 50px;
    width: 100%;
    /*height: 43px;*/
    font-size: 16px;
}

.btn-socials:hover,
.btn-socials:focus,
.btn-socials:active,
.btn-socials.active,
.open .dropdown-toggle.btn-socials {
    color: #ffffff;
    background: no-repeat center, #adbfce !important;
    /*border-color: #130269;*/
}

/*.btn-login:active,*/
/*.btn-login.active,*/
.open .dropdown-toggle.btn-login {
    color: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    /*background-image: url("/img/SVG/png/walk.png");*/
    background-color: #cecece;
    /*height: 45px;*/
    padding-bottom: -25px;
    border-radius: 15px 0 0 0;
    margin-bottom: 0px;
    box-shadow: none;
}

.menu-login li {
    margin: 5px;
}

.dropdown-menu {
    border-top: 8px solid #adbfce;
    border-radius: 50px 0 5px 5px;
    margin-top: 0;
    /*box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.176);*/

    box-shadow: 5px 0 5px -5px #CCC, 0 5px 5px -5px #CCC, -5px 0 5px -5px #CCC;

    /*box-shadow: none;*/
}

.dropdown-menu .divider {
    background-color: #adbfce;
    height: 2px;
}

/*Кнопка прогулки*/
.btn-mail {
    color: #ffffff;
    background: -moz-linear-gradient(#87d21a, #7cc10b); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(#87d21a), color-stop(#7cc10b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #87d21a, #7cc10b); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #87d21a, #7cc10b); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #87d21a, #7cc10b); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87d21a', endColorstr='#7cc10b', GradientType=0); /* IE6-9 */
    border-radius: 50px;
    /*height: 43px;*/
    border-left: 2px solid #C9E58F;
}

.btn-mail:hover,
.btn-mail:focus,
.btn-mail:active,
.btn-mail.active,
.open .dropdown-toggle.btn-mail {
    color: #ffffff;
    background: no-repeat center, #cecece !important;
}

.walkString {
    color: #70b700;
    font-weight: 300;
    font-size: 24px;
}

.pac-input {
    height: 43px;
    background-color: #fff;
    /*padding: 0 30px 0 13px;*/
    text-overflow: ellipsis;
    /*border: 1px solid #cecece;*/
    border: 1px solid gray;
    border-radius: 50px;
    /*width: 100%;*/
    padding-left: 12px;
}

#pac-input:focus {
    border-color: #b0b0b0;
}

/* Dima css */

.listbar {
    margin-top: 37px;
    line-height: 14px;
}

.text-big {
    font-size: 140%;
}

.text-bigger {
    font-size: 200%;
}

/* FORM */
.form-control {
    border-radius: 15px;
    width: 100%;
}

.btn-registration {
    background-color: #83CC15;
    color: white;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 50px;
    width: 250px;
}

.cursor {
    cursor: pointer;
}

.hov:hover {
    color: #b0b0b0;
}

.grey-check-map {
    color: #b0b0b0 !important;
}

#vertical-line {
    border-right: 1px solid #c8c8c8;
}

.color-tea {
    color: #d0a102;
}

.btn-tea-bg {
    background-color: #d0a102;
}

.color-sleep {
    color: #e67a00;
}

.btn-sleep-bg {
    background-color: #e67a00;
}

.color-walk {
    color: #70b700;
}

.btn-walk-bg {
    background-color: #70b700;
}

/*#pac-input {*/
/*background: url("/img/SVG/geometka_gray_12х20.svg") no-repeat;*/
/*padding-left: 20px;*/
/*background-position: 3%;*/
/*-webkit-background-size: 10px;*/
/*background-size: 10px;*/
/*border-radius: 15px;*/
/*width: 150px;*/
/*}*/

.pac-input1 {
    background: url("/img/SVG/geometka_gray_12х20.svg") no-repeat;
    padding-left: 25px;
    background-position: 3%;
    -webkit-background-size: 10px;
    background-size: 10px;
    border-radius: 50px;
}

#textareaNew {
    min-height: 80px;
}

.inputNew {
    width: 100%;
}

.w50 {
    width: 50%;
}

#upload {
    color: lightgray;
}

.btn-form1 {
    color: white;
    /*background-color: #50616b;*/
    background-color: #b0b0b0;
    border-radius: 15px;
    border: none;
    height: 34px;
    cursor: pointer;
}

.btn-form1:hover {
    color: black;
}

/*#load {*/
/*background-color: #83CC15;*/
/*}*/

/*#load:disabled {*/
/*background-color: #b0b0b0;*/
/*}*/

/*#load:disabled:hover {*/
/*color: white;*/
/*}*/

.string {
    font-size: 36px;
    font-weight: 200 !important;
}

.string100 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100 !important;
}

.string200 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200 !important;
}

.string300 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300 !important;
}

.string400 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400 !important;
}

.string500 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500 !important;
}

.string600 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
}

.string700 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700 !important;
}

.string800 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800 !important;
}

.string900 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 900 !important;
}

.sans400 {
    font-weight: 400 !important;
}

h1 {
    font-weight: 100 !important;
}

.h100 {
    height: 100px;
}

.form-group {
    clear: both;
    margin-left: 0 !important;
    margin-right: 0 !important;
    /*text-align: right;*/
}

#123 {
    clear: both;
}

label:hover + span {
    color: #b0b0b0;
}

.label-radio {
    border: 1px solid white;
    color: #0480ae;
}

.label-radio:hover {
    border: 1px dotted lightgray;
    cursor: pointer;
    text-decoration: underline;
}

.fileform {
    background-color: #83CC15;
    /*border: 1px solid #CCCCCC;*/
    border-radius: 50px;
    cursor: pointer;
    height: 34px;
    /*overflow: hidden;*/
    padding: 4px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    /*margin-left: 4%;*/
}

.fileform .selectbutton {
    color: white;
    cursor: pointer;
    /*background-color: #A2A3A3;*/
    /*border: 1px solid #939494;*/
    /*border-radius: 2px;*/
    /*color: #FFFFFF;*/
    /*float: right;*/
    /*font-size: 16px;*/
    /*height: 20px;*/
    /*line-height: 20px;*/
    /*overflow: hidden;*/
    /*padding: 2px 6px;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*width: 50px;*/
}

.selectbutton:hover {
    color: black;
}

.fileform #upload {
    position: absolute;
    left: 0;
    /*top: -30px;*/
    width: 96%;
    /*-moz-opacity: 0;*/
    /*filter: alpha(opacity=0);*/
    opacity: 0;
    font-size: 15px;
    height: 34px;
    /*z-index:20;*/
    /*margin-left: 2%;*/
}

#upload {
    opacity: 0;
}

#photo-upload {
    width: 20px;
    margin-bottom: 5px;
}

/*#close-open {*/
/*position: absolute;*/
/*top: -30px;*/
/*width: 42%;*/
/*background-color: white;*/
/*height: 25px;*/
/*z-index: 25;*/
/*min-width: 131px;*/
/*}*/

/*.dropdown-menu, .dropdown-menu>li>a {*/
/*color: #0480ae;*/
/*}*/

.imgMenu {
    height: 22px;
    margin-left: 25px;
    width: 50px;
}

.imgMenu-icons {
    height: 12px;
    padding-right: 5px;
}

.img20 {
    height: 20px;
}

.mt14 {
    margin-top: 14px;
}

.img-newService {
    height: 35px;
}

.mb14 {
    margin-bottom: 14px;
}

.count-bracket {
    list-style-type: none;
    counter-reset: item; /* Обнуляем счетчик списка */
}

.count-bracket li:before {
    content: counter(item) ') ';
    counter-increment: item; /* Задаём имя счетчика */
}

.smaller-text {
    font-size: 0.7em;
    line-height: 100%;
    color: lightgray;
    font-style: italic;
}

.circle-div {
    position: relative;
    /*height: 375px;*/
    border-radius: 25px;
    overflow: hidden;
}

.sizeToNI {
    width: 110%;
    margin-left: -5%;
}

/*background:  url("/img/Avatars/photo_default.svg") no-repeat;*/

.btn-green {
    color: white;
    background-color: #83CC15;
    border: none;
    border-radius: 50px;
    font-size: large;
}

.btn-all {
    color: white;
    border: none;
    border-radius: 50px;
    font-size: large;
}

.btn-couch {
    background-color: #e67a00;
}

.btn-walk {
    background-color: #87d21a;
}

.btn-green:hover, .btn-all:hover {
    color: black;
}

input[type="password"].inputNew {
    margin-top: 5px;
}

.submit {
    color: white;
    font-size: large;
    border-radius: 50px;
}

.padding-0 {
    padding: 0;
}

.img18 {
    vertical-align: baseline;
    height: 18px;
}

/*.img12 {*/
/*width: 12px;*/
/*}*/
.f300-14 {
    font-weight: 300;
    font-size: 14px;
}

.f300-16 {
    font-weight: 300;
    font-size: 16px;
}

.f300-22 {
    font-weight: 300;
    font-size: 22px;
}

.f300-21 {
    font-weight: 300;
    font-size: 21px;
}

.f300-25 {
    font-weight: 300;
    font-size: 25px;
}

.f400-24 {
    font-weight: 400;
    font-size: 24px;
}

.f400-25 {
    font-weight: 400;
    font-size: 25px;
}

.f600-14 {
    font-weight: 600;
    font-size: 14px;
}

.f600-16 {
    font-weight: 600;
    font-size: 16px;
}

.btn-soc {
    color: white;
    width: 100%;
    border-radius: 50px;
    height: 34px;
    vertical-align: middle;
    padding: 0;
}

.facebook-color {
    background-color: #405D9A;
}

.vk-color {
    background-color: #4F759E;
}

.google-color {
    background-color: #C13121;
}

.icon-soc-btn {
    vertical-align: middle;
    width: 30px;
    margin-left: 10px;
}

#foto-load-transparent {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: grey;
    opacity: 0;
    width: 100%;
    height: 34px;
    text-align: center;
}

#file-load-tr {
    margin-top: -35px;
    height: 34px;
    opacity: 0;
}

.wh100 {
    width: 100%;
    /*height: 100%;*/
}

.newInpInline {
    display: inline;
}

.span-close {
    font-size: 17px;
    color: red;
    font-weight: bold;
    cursor: pointer;
}

.under-geo {
    text-decoration: underline;
}

#drop_zone {
    border: dotted 1px grey;
}

.pleft37 {
    padding-left: 37px;
}

#foto-load-transparent > p {
    margin-top: 5px;
}

.mr10 {
    margin-right: 10px;
}

/*------------------------------------------------------------------*/
.messageAvatarCol {
    padding-left: 0;
    padding-right: 0;
}

.messageAvatar {
    width: 100%;
}

.alert {
    box-shadow: none !important;
    margin-bottom: 0 !important;
}

.messageUnderline hr {
    margin: 0;
}

.messageFromMe {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #badfee;
    border-radius: 20px;
}

.messageForMe {
    padding: 5px;
    background-color: #f3f3f3;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.messageTextArea {
    width: 100% !important;
    margin-top: 10px;
    margin-left: 20px;
}

.messageTextSubject {
    width: 100% !important;
    margin-top: 10px;
    margin-left: 20px;
}

.w70p {
    width: 69%;
}

.w29p {
    width: 29%;
}

.inline {
    display: inline-block;
}

.circle {
    border: none;
    border-radius: 150px;
}

.img37 {
    height: 27px;
    vertical-align: top;
}

.w100p {
    width: 100%;
}

.w14 {
    width: 14px;
}

.pm-0 {
    margin-bottom: 0;
    line-height: 19px;
}

.mt--5 {
    margin-top: -5px;
}

.color-we {
    color: #074e6b;
}

.color-date {
    color: #a7a7a7;
}

.color-grey-name {
    color: #50616b;
}

.gm-style-iw {
    max-width: 320px;
}

.dropzone {
    border: 2px solid #83CC15 !important;
    border-radius: 25px;
}

.mapInfoPanelWrapper {
    width: 100%;
    /*height: 85px;*/
    background: url("/img/SVG/menu_map/outside_part.png") repeat-x;
}

.mapInfoPanel {
    width: 850px;
    margin: 0 auto;
}

.mapInfoPanelCenter {
    /*height: 85px;*/
    width: 650px;
    margin: -5px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 1px;
    background: url("/img/SVG/menu_map/central_part_Xx85.png") repeat-x;
    background-size: contain;
    vertical-align: middle;
}

.mapInfoPanelBtn {
    vertical-align: middle;
}

.mapInfoPanelCell {
    padding-left: 5px;
    padding-right: 10px;
    vertical-align: middle;
}

/*Для мобильных устройств*/
.mapInfoPanelWrapperXs {
    width: 100%;
    background: url("/img/SVG/menu_map/outside_part.png") repeat-x;
}

.mapInfoPanelXs {
    width: 450px;
    margin: 0 auto;
}

.mapInfoPanelCenterXs {
    /*height: 85px;*/
    width: 250px;
    margin: -5px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-right: 1px;
    background: url("/img/SVG/menu_map/central_part_Xx85.png") repeat-x;
    background-size: contain;
    vertical-align: middle;
}

.messages-row {
    cursor:pointer;    
}

.messages-row:hover {
    background-color: #FAFAFA; 
}

.eula > p, li {
    text-align: justify;
}

/* Лоадер */
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Лоадер */

.transparent {
    color: transparent;
}

.btn-news {
    margin: 5px
}